.vs/Class_Lesson_86/v16/Browse.VC.db-shm
.vs/Class_Lesson_86/v16/Browse.VC.db-wal
.vs/Class_Lesson_86/v16/Browse.VC.opendb
.vs/Class_Lesson_86/v16/ipch/AutoPCH/9dee80b47e577af6/CLASS_LESSON_86.ipch
Debug/Class_Lesson_86.exe
Debug/Class_Lesson_86.ilk
Debug/Class_Lesson_86.pdb
